<template>
  <div>
    <modal v-if="showModal" :header="errModal.header" :body="errModal.body" :ok="errModal.ok" @close="close"></modal>
    <div id="login-form">
      <table>
        <tbody>
          <tr>
            <td>
              <p>Id</p>
            </td>
            <td><input type="text" v-model="id" tabindex=1 /></td>
            <td rowspan="2"><button id="btn-login" type="button" tabindex=3 @click="login">Login</button></td>
          </tr>
          <tr>
            <td>
              <p>Password</p>
            </td>
            <td><input type="password" v-model="pw" @keyup.enter="login" tabindex=2 /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sub-menu">
      <a>forget password?</a>
      <span> / </span>
      <router-link to="/signup">Sign Up</router-link>
    </div>
  </div>
</template>
<script>
  import modal from '../Dialog';
  export default {
    components: {
      modal
    },
    data() {
      return {
        id: '',
        pw: '',
        showModal: false,
        errModal: {
          header: 'Login Failed',
          body: '',
          ok: 'close'
        }
      }
    },
    methods: {
      login() {
        this.$http.post('/login', {
          'id': this.id,
          'pw': this.pw
        }).then((result) => {
          console.log("result?");
          var data = result.data;
          if (data.result === "ok") {
            this.$emit('isLogin', true);
            this.$router.replace('/');
          } else {
            this.pw = '';
            this.errModal.body = data.message;
            this.showModal = true;
          }
        }).catch((err) => {
          console.log("login err : " + err);
          this.pw = '';
          this.errModal.body = "Invalid username or password";
          this.showModal = true;
        });
      },
      close() {
        this.showModal = false;
      }
    }
  }

</script>
<style scoped>
  #login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  td {
    font-size: 13px;
  }

  td p {
    margin: auto 5px auto 0;
  }

  #btn-login {
    width: 80px;
    height: 52px;
    background-color: #80b7a8;
    border-color: transparent;
    border-radius: 3px;
    color: white;
  }

  .sub-menu {
    text-align: center;
  }

  .sub-menu a {
    display: inline-block;
  }

</style>
