<template>
  <div class="form-wrap">
    <modal v-if="showModal" :header="modal.header" :body="modal.body" :ok="modal.ok" @close="toLogin"></modal>
    <p id="subtitle">Sign Up</p>
    <form>
      <div class="form-box">
        <table id="table-signup">
          <tr>
            <td class="col1">
              <p>Id</p>
            </td>
            <td class="col2"><input type="text" v-model="form.id" /></td>
            <td><button type="button" class="btn-check">duplicate check ▷</button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <p id="hint-id" class="hint">(4~15 English lower case/number)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Nickname</p>
            </td>
            <td><input type="text" v-model="form.nickname"/></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p>Password</p>
            </td>
            <td><input type="password" v-model="form.password"/></td>
            <td>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <p id="hint-password" class="hint">(use 8 to 16 characters with a mix of at least 2 of upper and
                lowercase,
                numbers & symbols)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Password confirm</p>
            </td>
            <td><input type="password" v-model="form.passwordConfirm" /></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p>Email</p>
            </td>
            <td><input type="text" v-model="form.email"/></td>
            <td><button type="button" class="btn-check">duplicate check ▷</button></td>
          </tr>
        </table>
      </div>
      <div class="join-wrap">
        <button type="button" id="btn-join" @click="join">Join</button>
      </div>
    </form>
  </div>
</template>
<script>
import modal from '../Dialog';
  export default {
    components : {
      modal,
    },
    data () {
      return {
        form : {
          id : '',
          nickname : '',
          password : '',
          passwordConfirm : '',
          email : ''
        },
        modal : {
          header : 'Congratulations on Joining!',
          body : 'Please Login',
          ok : 'OK'
        },
        showModal : false
      }
    },
    methods: {
      verify() {
        this.modal.header = 'failed verifying';
        // verify id
        let reg_id = /^[0-9a-z]{4,15}$/;
        if (!reg_id.test(this.form.id)) {
          this.modal.body = 'Id needs 4~15 English lower case/number!';
          this.showModal = true; 
          return false;
        }
        // verify nickname
        let reg_nickname = /[`~!@#$%^&*|\\\'\";:\/?]/gi;
        if (reg_nickname.test(this.form.nickname)) {
          this.modal.body = 'No special characters are allowed in nicknames!';
          this.showModal = true;
          return false; 
        }
        // verify password
        let reg_pw = /^(?=.*[a-zA-Z])((?=.*\d)|(?=.*\W)).{8,16}$/
        if (!reg_pw.test(this.form.password)) {
          this.modal.body = 'use 8 to 16 characters with a mix of at least 2 of upper and lowercase, numbers & symbols';
          this.showModal = true;
          return false;
        }
        // verify password confirm
        if (this.form.password != this.form.passwordConfirm) {
          this.modal.body = 'passwords do not match!';
          this.showModal = true;
          return false;
        }
        // verify email
        let reg_email = /^[a-z0-9_+.-]+@([a-z0-9-]+\.)+[a-z0-9]{2,4}$/
        if (!reg_email.test(this.form.email)) {
          this.modal.body = 'Email address is not in the correct format!';
          this.showModal = true;
          return false;
        }
        return true;
      },
      join() {
        if (this.verify()) {
          this.$http.post('/login/join', {'form' : this.form}).then((result)=>{
            var data = result.data;
            if (data.result === "ok") {
              this.modal.header = 'Congratulations on Joining!';
              this.modal.body = 'Please Login';
              this.showModal = true;
            }
          });
        }
      },
      toLogin() {
        this.showModal = false;
        // go login redirect.
        if (this.modal.header == 'Congratulations on Joining!') {
          console.log("to login!");
          this.$router.replace('/login');
        }
      }
    }
  }

</script>
<style scoped>
  #subtitle {
    text-align: center;
    font-weight: bold;
  }

  #table-signup {
    border-collapse: separate;
    border-spacing: 5px;
  }

  td p {
    font-size: 13px;
    margin: auto 5px auto 0px;
  }

  .col1 {
    width: 120px;
  }

  .col2 {
    width: 220px;
  }

  .hint {
    color: gray;
  }

  td input {
    height: 25px;
    width: 220px;
  }

  td button {
    font-size: 13px;
    height: 25px;
  }

  .form-box {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid #80b7a8;
    border-radius : 30px;
  }

  .form-wrap {
    margin-top: 10%;
  }

  .join-wrap {
    text-align: center;
  }

  #hint-password {
    margin-top: 0px;
  }

  .btn-check {
    border: 1px solid #80b7a8;
    border-radius: 3px;
    background-color: transparent;
  }

  #btn-join {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: #80b7a8;
    border: 0px solid transparent;
    border-radius: 3px;
  }

</style>
