<template>
    <div>
        <!--<wysiwyg v-model="myHTML"/>-->
        <textarea name="content" ref="editor" id="editor"></textarea>
    </div>    
</template>
<script>
//https://github.com/chmln/vue-wysiwyg
import 'ckeditor/loader.js'
import 'ckeditor/ckeditor.js'

export default {
    data () {
        return {
            myHTML : ''
        }
    },
    mounted () {
        let board = this.$refs.editor;
        CKEDITOR.replace(board, {
        //     toolbar: [
        //         { name: 'document', items: [ 'Print' ] },
        //         { name: 'clipboard', items: [ 'Undo', 'Redo' ] }, 
        //         { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] }, 
        //         { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'CopyFormatting' ] }, 
        //         { name: 'colors', items: [ 'TextColor', 'BGColor' ] }, 
        //         { name: 'align', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] }, 
        //         { name: 'links', items: [ 'Link', 'Unlink' ] }, 
        //         { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] }, 
        //         { name: 'insert', items: [ 'Image', 'Table' ] }, 
        //         { name: 'tools', items: [ 'Maximize' ] }, 
        //         { name: 'editing', items: [ 'Scayt' ] },
        //   ],
        //   contentCss: ['/modules/ckeditor/contents.css'],
          filebrowserUploadUrl: '/api/upload',
        //   filebrowserImageBrowseUrl: '/api/upload?type=Images',
        //   imageUploadUrl: '/api/upload',
        })
    }
}
</script>
<style>

</style>