<template>
  <div class="menus-wrap">
    <div v-for="menu in menus" class="menu-wrap">
      <router-link tag="button" :to="menu.href">{{ menu.text }}</router-link>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        menus: [{
          text: 'HOME',
          href: '/'
        }, {
          text: 'Along?',
          href: '/info'
        }, {
          text: 'CAL',
          href: '/cal'
        }, {
          text: 'MY CAL',
          href: '/mycal'
        }]
      }
    }
  }

</script>
<style scoped>
  button {
    width: 100%;      
    border: transparent;
    background-color: transparent;   
    font-weight: bold;
  }

  .menus-wrap {
    display: flex;
    justify-content: space-around;
  }
  .menu-wrap {
      flex: 1;
      text-align:center;
  }

</style>
