<template>
    <transition name="dialog">
    <div class="dialog-mask">
      <div class="dialog-wrapper">
        <div class="dialog-container">
          <div class="dialog-header" v-model="header">
            <h4>{{ header }}</h4>
          </div>
          <div class="dialog-body" v-model="body">
            <slot name="body">
              {{ body }}
            </slot>
          </div>
          <div class="dialog-footer" v-model="ok">
            <button id="btn-ok" ref="ok" autofocus class="dialog-default-button" @click="$emit('close')">
            {{ ok }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
    export default {
        props : {
            header : '',
            body : '',
            ok : '',
        },
        mounted () {
          console.log("mounted");
          document.getElementById('btn-ok').focus();
        }
    }
</script>
<style>
.dialog-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.dialog-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.dialog-container {
  width: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.dialog-header {
    text-align:center;
}

.dialog-header h4 {
  margin-top: 0;
  color: #42b983;
}

.dialog-body {
  margin: 20px 0;
  text-align:center;
}
.dialog-footer {
    text-align:center;
}
.dialog-default-button {
  /*float: center;*/
  width: 100px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: #80b7a8;
    border: 0px solid transparent;
    border-radius: 3px;
}
/* transition 관련 vue-css 속성인듯 */
.dialog-enter {
  opacity: 0;
}

.dialog-leave-active {
  opacity: 0;
}

.dialog-enter .dialog-container,
.dialog-leave-active .dialog-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>