<template>
    <div>
        <div class="status-bar">
            <p id="nickname">{{ nickname }}</p>
                <a v-if="isOwner" v-on:click="logout" class="spaced">Logout</a>
                <router-link v-else to="/login" class="spaced">Login</router-link>
            <router-link to="/signup" class="spaced">Sign Up</router-link>
            <a class="spaced">MyPage</a>
            <a class="spaced">Support</a>
        </div>
        <router-link to="/" tag="p" id="title" class="clickable">Along</router-link>
    </div>
</template>
<script>
export default {
    props : {
        nickname : '',
        isOwner: false
    },
    methods : {
        logout () {
            console.log("logout");
            this.$http.get('/logout').then((result) => {
                console.log('logout' + result);
                this.$emit('isLogin', false);
            }).catch((err) => {
                console.log('logout err : ' + err);
            });
        }
    }
}
</script>
<style scoped>
@font-face {
    font-family: 'titleFont';
    src: url('../assets/fonts/leafy.woff') format('woff');
}
.status-bar {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin: 3px 5px 3px 5px;
}
#nickname {
    margin: auto 0 auto 0;
    font-size:13px;
    font-weight:bold;
}
a {
    font-size:13px;
   cursor:pointer; 
}
a.spaced:before {
    content: "\00a0 \00a0 \00a0";
}
#title {
    text-align:center;
    font-family: 'titleFont';
    font-size: 90px;
}
.clickable {
    cursor:pointer;
}
</style>