<template>
  <div id="app">
    <!-- Head -->
    <banner :nickname="nickname" :is-owner="isOwner" @isLogin="checkLogin"></banner>
    <!-- breadCrumb -->
    <breadcrumb></breadcrumb>
    <!-- main -->
    <router-view :is-owner="isOwner" @isLogin="checkLogin"/>
  </div>
</template>

<script>
import Head from "@/components/Head.vue";
import Breadcrumb from "@/components/Breadcrumb.vue";
var cookie = require('cookie');

export default {
  name: 'App',
  components : {
    'banner' : Head,
    'breadcrumb' : Breadcrumb
  },
  data () {
    return {
      isOwner: false,
      nickname: '',
    }
  },
  methods : {
    checkLogin (isLogin) {
      this.isOwner = isLogin;
      let cookies = cookie.parse(document.cookie);
      this.nickname = cookies.nickname;
    }
  },
  mounted () {
    console.log("hi mount");
    if (document.cookie) {
      let cookies = cookie.parse(document.cookie);
      this.nickname = cookies.nickname;
      if (cookies.isLogin === 'true') {
        this.isOwner = true;
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  width: 70%;
  margin:auto;
}
</style>
